<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1> Wellcome to WastedOnMedia!</h1>
    </head>
    {% block header %}
    {% if user.username %}
        <p>You are logged as: <b>{{ user.username }} </b>| <a href="{% url 'logout' %}?next={{request.path}}">logout</a></p>
    {% else %}
        <p><a href="{% url 'login' %}?next={{request.path}}">login</a></p>{% endif %}
    {% endblock %}
<body background="https://s3.amazonaws.com/piktochartv2-dev/v2/uploads/4ccfa213-b092-4785-9e09-543df5b42c32/f8509ea0e2add37a6fde4caaa1246f0fab65b172_original.jpg">
    <a href="/admin">Admin</a>
    <br>
    <br>
    <h2><a href="/wastedonmedia/films">Films</a></h2>
    <h2><a href="/wastedonmedia/series">Series</a></h2>
    <h2><a href="/wastedonmedia/songs">Songs</a></h2>
</body>
</html>
